// Для импорта в диспетчер подключений: @import '../blocks/main-footer/main-footer.scss';


.main-footer {
  max-width: 1140px;
  margin: 0 auto;
  padding: 30px 15px;
  &__bg{
    background-color: $footer-bg;
  }
  &__list{
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &__item{
    font-family: $OpenSans;
    color: $footer-text;
    font-size: 12px;
    line-height: 24px;
    &--bold,
    &--title{
      font-size:14px;
      color: #ffffff;
    }
  }
}
