$OpenSans: 'Open Sans', sans-serif;
$FirsSans: 'Fira Sans', sans-serif;
$LemonSans:  'Lemon Tuesday', sans-serif;
$green: #84c604;
$orange: #fd4f10;
$vkcolor:#5e81a7;
$blue:  #32505a;
$footer-bg: #1a2d34;
$footer-text: #6b96a5;
