// Для импорта в диспетчер подключений: @import '../blocks/sotial/sotial.scss';


.sotial {
  &__list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  &__item{
    margin-right: 10px;
    &--in,
    &--vk,
    &--fb{
      background-repeat: no-repeat;
      width: 30px;
      height: 30px;
    }
    &--in{
      background-image: url("../../img/insta.png");
    }
    &--vk{
      background-image: url("../../img/vk.png");
    }
    &--fb{
      background-image: url("../../img/fb.png");

    }
  }
}
